/* Styles that can be modified via preferences */

/* cssRules[0] */
#tabbrowser-tabs tab.tabbrowser-tab .tab-text.tab-label {
	text-shadow: white 1px 1px 1.5px !important;
	color: black;
}

/* cssRules[1] */
menuitem.alltabs-item {
	text-shadow: 1px 1px 1px #fff;
}

/* cssRules[2] */
menuitem.alltabs-item:hover, menuitem.alltabs-item:hover  .menu-iconic-text {
	text-shadow: 1px 1px 1px #000;
}

/* cssRules[3] */
#tabbrowser-tabs > .tabbrowser-tab[selected=true] {
}

/* cssRules[4] */
#tabbrowser-tabs > .tabbrowser-tab[selected=true] .tab-background-start {
}

/* cssRules[5] */
#tabbrowser-tabs > .tabbrowser-tab[selected=true] .tab-background-middle {
}

/* cssRules[6] */
#tabbrowser-tabs > .tabbrowser-tab[selected=true] .tab-background-end {
}

/* cssRules[7] */
#colorfulTabsStack {
	display: -moz-stack;
}

/* animation */

/* cssRules[8] */
#tabbrowser-tabs:hover tab.tabbrowser-tab[selected=true] .tab-text.tab-label {
	animation: myanim 1s infinite !important;
	animation-delay: 1s !important;
	text-shadow: none !important;
}

/* cssRules[9] */
@keyframes myanim {
	0% {
		color: black;
	}
	50% {
		color: white;
	}
}

/* cssRules[10] */
#tabbrowser-tabs > tab.tabbrowser-tab {
	opacity: .5;
}

/* cssRules[11] */
#tabbrowser-tabs > tab.tabbrowser-tab {
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}